<strong>
  <p>Olá {{ name }}</p>
</strong>
<p>
  Sua pergunta foi respondida em: {{ date }}
</p>
<p>Segue abaixo:</p>
<strong>Pergunta: {{ question }}</strong> <br />
<strong>Resposta: {{ answer }}</strong><br />
